html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
	background:#0061c1 url(../images/bg-front.jpg) no-repeat top center;
	background-size:cover;
	font-family:Arial;
}

#front
{
	text-align: center
}

.page-name
{
	height:20px;
	line-height:20px;
	background: #fff;
	color:#0061c1;
	padding:10px 0;
	font-weight:bold;
	width:100%;
	text-align: center;
	margin-bottom:20px;
}

.input-text
{
	padding: 3%;
	width:60%;
	margin-bottom:20px;
	font-size: 1em;
	text-align: center;
	font-family:Arial;
}

#logo-front
{
	background:url(../images/logo.png) no-repeat center center;
	width:80%;
	margin:0 auto;
	padding:30px 0;
	height:230px;
}

.input-submit
{
	width: 30%;
	background: rgba(0,0,0,0.5);
	border: 0;
	color: #fff;
	padding: 3%;
	font-size: 1em;
	cursor: pointer;
}

.center-div
{
	text-align:center;
}